<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastOutreach.ai Email Signature Generator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container" id="foesg">

        <header class="text-center py-5">
            <h1>FastOutreach.ai Email Signature Generator</h1>
            <p>Fill out the information below to update the signature template.</p>
            <p class="small font-italic"><a href="#" data-toggle="modal" data-target="#exampleModal">How do I set my new
                    signature in Gmail?</a></p>
        </header>
        <div class="form-row align-items-center justify-content-center">
            <div class="col-auto">
                <input type="text" id="foesg_fullname_input" v-model="foesg_fullname"
                    class="foesg_form-field form-control" placeholder="Full Name">
            </div>
            <div class="col-auto">
                <input type="text" id="foesg_position_input" v-model="foesg_position"
                    class="foesg_form-field form-control" placeholder="Position">
            </div>
            <div class="col-auto">
                <input type="text" id="foesg_phone_input" v-model="foesg_phone" class="foesg_form-field form-control"
                    placeholder="Phone">
            </div>
            <div class="col-auto">
                <input type="text" id="foesg_email_input" v-model="foesg_email" class="foesg_form-field form-control"
                    placeholder="Email">
            </div>
            <div class="col-auto">
                <input type="text" id="foesg_picture_input" v-model="foesg_picture"
                    class="foesg_form-field form-control" placeholder="Picture URL">
            </div>
        </div>
        <hr class="mt-5">
        <div id="foesg_email_signature" class="d-flex justify-content-center py-5">
            <table cellpadding="0" cellspacing="0" class="table__StyledTable-sc-1avdl6r-0 kAbRZI"
                style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                <tbody>
                    <tr>
                        <td>
                            <table cellpadding="0" cellspacing="0" class="table__StyledTable-sc-1avdl6r-0 kAbRZI"
                                style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                <tbody>
                                    <tr>
                                        <td style="vertical-align: top;">
                                            <table cellpadding="0" cellspacing="0"
                                                class="table__StyledTable-sc-1avdl6r-0 kAbRZI"
                                                style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                                <tbody>
                                                    <tr>
                                                        <td class="template1__ImageContainer-sc-nmby7a-0 gjVAKi"
                                                            style="text-align: center;"><img v-bind:src="foesg_picture"
                                                                role="presentation" width="130"
                                                                class="image__StyledImage-sc-hupvqm-0 gYgOut"
                                                                style="display: block; max-width: 128px;" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td height="30"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="template1__ImageContainer-sc-nmby7a-0 gjVAKi"
                                                            style="text-align: center;"><img
                                                                src="https://storage.googleapis.com/fastoutreach-marketing-assets/fastoutreach-logo_full_black_2XS.jpg"
                                                                role="presentation" width="130"
                                                                class="image__StyledImage-sc-hupvqm-0 gYgOut"
                                                                style="display: block; max-width: 130px;"></td>
                                                    </tr>
                                                    <tr>
                                                        <td height="30"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center;">
                                                            <table cellpadding="0" cellspacing="0"
                                                                class="table__StyledTable-sc-1avdl6r-0 kAbRZI"
                                                                style="display: inline-block; vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                                                <tbody>
                                                                    <tr style="text-align: center;">
                                                                        <td><a href="https://www.linkedin.com/company/fastoutreach/"
                                                                                color="#3dd875"
                                                                                class="social-links__LinkAnchor-sc-py8uhj-2 hBVWAh"
                                                                                style="display: inline-block; padding: 0px; background-color: rgb(61, 216, 117);"><img
                                                                                    src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/linkedin-icon-2x.png"
                                                                                    alt="linkedin" color="#3dd875"
                                                                                    width="24"
                                                                                    class="social-links__LinkImage-sc-py8uhj-1 hSTSwA"
                                                                                    style="background-color: rgb(61, 216, 117); max-width: 135px; display: block;"></a>
                                                                        </td>
                                                                        <td width="5">
                                                                            <div></div>
                                                                        </td>
                                                                        <td><a href="https://www.instagram.com/fastoutreach"
                                                                                color="#3dd875"
                                                                                class="social-links__LinkAnchor-sc-py8uhj-2 hBVWAh"
                                                                                style="display: inline-block; padding: 0px; background-color: rgb(61, 216, 117);"><img
                                                                                    src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/instagram-icon-2x.png"
                                                                                    alt="instagram" color="#3dd875"
                                                                                    width="24"
                                                                                    class="social-links__LinkImage-sc-py8uhj-1 hSTSwA"
                                                                                    style="background-color: rgb(61, 216, 117); max-width: 135px; display: block;"></a>
                                                                        </td>
                                                                        <td width="5">
                                                                            <div></div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td width="46">
                                            <div></div>
                                        </td>
                                        <td style="padding: 0px; vertical-align: middle;">
                                            <h2 color="#0d1117" class="name__NameContainer-sc-1m457h3-0 jxbGUj"
                                                style="margin: 0px; font-size: 18px; color: rgb(13, 17, 23); font-weight: 600;">
                                                <span>{{ foesg_fullname}}</span>
                                            </h2>
                                            <p color="#0d1117" font-size="medium"
                                                class="job-title__Container-sc-1hmtp73-0 ifJNJc"
                                                style="margin: 0px; color: rgb(13, 17, 23); font-size: 14px; line-height: 22px;">
                                                <span>{{foesg_position}}</span>
                                            </p>
                                            <p color="#0d1117" font-size="medium"
                                                class="company-details__CompanyContainer-sc-j5pyy8-0 VnOLK"
                                                style="margin: 0px; font-weight: 500; color: rgb(13, 17, 23); font-size: 14px; line-height: 22px;">
                                                <span>FastOutreach.ai</span>
                                            </p>
                                            <table cellpadding="0" cellspacing="0"
                                                class="table__StyledTable-sc-1avdl6r-0 kAbRZI"
                                                style="width: 100%; vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                                <tbody>
                                                    <tr>
                                                        <td height="30"></td>
                                                    </tr>
                                                    <tr>
                                                        <td color="#0052cc" direction="horizontal" width="auto"
                                                            height="1"
                                                            class="color-divider__Divider-sc-1h38qjv-0 llIisW"
                                                            style="width: 100%; border-bottom: 1px solid rgb(0, 82, 204); border-left: none; display: block;">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="30"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table cellpadding="0" cellspacing="0"
                                                class="table__StyledTable-sc-1avdl6r-0 kAbRZI"
                                                style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                                <tbody>
                                                    <tr height="25" style="vertical-align: middle;">
                                                        <td width="30" style="vertical-align: middle;">
                                                            <table cellpadding="0" cellspacing="0"
                                                                class="table__StyledTable-sc-1avdl6r-0 kAbRZI"
                                                                style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="vertical-align: bottom;"><span
                                                                                color="#0052cc" width="11"
                                                                                class="contact-info__IconWrapper-sc-mmkjr6-1 bglVXe"
                                                                                style="display: inline-block; background-color: rgb(0, 82, 204);"><img
                                                                                    src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/phone-icon-2x.png"
                                                                                    color="#0052cc" alt="mobilePhone"
                                                                                    width="13"
                                                                                    class="contact-info__ContactLabelIcon-sc-mmkjr6-0 cnkwri"
                                                                                    style="display: block; background-color: rgb(0, 82, 204);"></span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td style="padding: 0px; color: rgb(13, 17, 23);"><a
                                                                v-bind:href="'tel:' + foesg_phone.replaceAll(/[^0-9]/g, '')"
                                                                color="#0d1117"
                                                                class="contact-info__ExternalLink-sc-mmkjr6-2 ibLXSU"
                                                                style="text-decoration: none; color: rgb(13, 17, 23); font-size: 12px;"><span>{{foesg_phone}}</span></a>
                                                        </td>
                                                    </tr>
                                                    <tr height="25" style="vertical-align: middle;">
                                                        <td width="30" style="vertical-align: middle;">
                                                            <table cellpadding="0" cellspacing="0"
                                                                class="table__StyledTable-sc-1avdl6r-0 kAbRZI"
                                                                style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="vertical-align: bottom;"><span
                                                                                color="#0052cc" width="11"
                                                                                class="contact-info__IconWrapper-sc-mmkjr6-1 bglVXe"
                                                                                style="display: inline-block; background-color: rgb(0, 82, 204);"><img
                                                                                    src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/email-icon-2x.png"
                                                                                    color="#0052cc" alt="emailAddress"
                                                                                    width="13"
                                                                                    class="contact-info__ContactLabelIcon-sc-mmkjr6-0 cnkwri"
                                                                                    style="display: block; background-color: rgb(0, 82, 204);"></span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td style="padding: 0px;"><a href="mailto:{{foesg_email}}"
                                                                color="#0d1117"
                                                                class="contact-info__ExternalLink-sc-mmkjr6-2 ibLXSU"
                                                                style="text-decoration: none; color: rgb(13, 17, 23); font-size: 12px;"><span>{{foesg_email}}</span></a>
                                                        </td>
                                                    </tr>
                                                    <tr height="25" style="vertical-align: middle;">
                                                        <td width="30" style="vertical-align: middle;">
                                                            <table cellpadding="0" cellspacing="0"
                                                                class="table__StyledTable-sc-1avdl6r-0 kAbRZI"
                                                                style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="vertical-align: bottom;"><span
                                                                                color="#0052cc" width="11"
                                                                                class="contact-info__IconWrapper-sc-mmkjr6-1 bglVXe"
                                                                                style="display: inline-block; background-color: rgb(0, 82, 204);"><img
                                                                                    src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/link-icon-2x.png"
                                                                                    color="#0052cc" alt="website"
                                                                                    width="13"
                                                                                    class="contact-info__ContactLabelIcon-sc-mmkjr6-0 cnkwri"
                                                                                    style="display: block; background-color: rgb(0, 82, 204);"></span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td style="padding: 0px;"><a href="https://fastoutreach.ai"
                                                                color="#0d1117"
                                                                class="contact-info__ExternalLink-sc-mmkjr6-2 ibLXSU"
                                                                style="text-decoration: none; color: rgb(13, 17, 23); font-size: 12px;"><span>https://fastoutreach.ai</span></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table cellpadding="0" cellspacing="0"
                                                class="table__StyledTable-sc-1avdl6r-0 kAbRZI"
                                                style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                                <tbody>
                                                    <tr>
                                                        <td height="30"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="text-center">
            <button id="foesg_copy" class="btn btn-lg btn-primary">Copy Signature</button>
        </p>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Updating Your Email Signature</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ol>
                        <li>In Gmail, click the small Gear icon under the FastOutreach.ai logo, in the top right corner.
                            Click
                            Settings.</li>
                        <li>Scroll down to the section labeled “Signature”.</li>
                        <li>Paste into the text editor.</li>
                        <li>Click the “Save Changes” button at the very bottom of the page.</li>
                    </ol>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script>
    <script>
        //this is a vue instance
        new Vue({
            el: '#foesg',
            data() {
                return {
                    foesg_fullname: 'Name',
                    foesg_position: 'Position',
                    foesg_phone: 'Phone',
                    foesg_email: 'Email',
                    foesg_picture: 'Picture URL',
                }
            }
        })

        let $signature = $('#foesg_email_signature')
        let $copyButton = $('#foesg_copy')

        $copyButton.on('click', function (e) {
            //Before we copy, we are going to select the text.
            let text = $signature[0];
            let selection = window.getSelection();
            let range = document.createRange();
            range.selectNodeContents(text);
            selection.removeAllRanges();
            selection.addRange(range);
            //add to clipboard.
            document.execCommand('copy');
            $copyButton.text('Signature Copied!')
        })
    </script>
</body>

</html>